:root {
  background-color: #fab;
  background-image: radial-gradient(#1ed, plum, skyblue, #fab, #fab, skyblue, plum, #1ed);
  background-image: conic-gradient(#1ed, plum, skyblue, #fab, #fab, skyblue, plum, #1ed);
  color: indigo;
}

:any-link {
  color: inherit;
  background-color: rgba(216, 108, 216, 22%);
}

::selection {
  background: indigo;
  color: #fab;
}
